// Color Graph
$white :#fff;
$black :#000;
$black_11: #11131A;

$gray_94: #9497A0;

$green_08: #089981;

$tab_tit: #9497A0;
$tab_tit_active: #11131A;
$btn-red: #F23645;

$url : '../imgs/';



// Margin
$mg_08: 8px 0;
$mg_0408: 4px 8px;

$mg_t00: 0px;
$mg_t04: 4px;
$mg_t08: 8px;
$mg_t40: 40px;