.mySwiper_cont {
  background-color: aqua;
}

.swiper-slide {}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none;
}